<form action="/login" method="post">
  <!-- Flash message in case the account doesn't exists or incorrect password or successfully-->
  <%- include("./helpers/flash_messages.ejs") %>

  <!-- Error handling in case user don't type in anything -->
  <%- include("./helpers/errors.ejs") %>

  <label for="email">Email:</label>
  <input type="text" name="email" placeholder="Email" />

  <!-- Error handling in case user don't type in anything -->
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="password" />

  <button type="submit">Login</button>

  <span>Don't have account? </span>
  <a href="/register"> Register</a>
  <a href="/resetPassword">Forgot password?</a>
</form>
