<div>
    <!--Joi validation error messages-->
    <% for(let i=0; i<error.length; i++) { %>
        <p><%=error[i].message %></p>
    <% } %>

    <!--duplicate email prohibitor-->
    <%- include("./helpers/errors.ejs") %>

    <form action="/register" method="POST">     
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username"/>   
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Email"/>  
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Create new account!</button>
    </form>
</div>