<form action="/resetPasswordForm" method="post">
  <h1>Reset your password here below!</h1>

  <!-- Below message will pop up if the user forgot to type in a new password -->
  <%- include("./helpers/errors.ejs") %>

  <input
    type="password"
    name="password"
    placeholder="Type in your new password here"
  />
  <input type="email" name="email" value="<%=email%>" hidden />
  <button type="submit">Reset your password</button>
</form>