<form action="/resetPassword" method="POST">
  <h1>Forgot your password?</h1>

  <%- include("./helpers/flash_messages.ejs") %>

  <input type="email" name="email" placeholder="Type your email here" />
  <button type="submit">Send link to reset password</button>
</form>