main {
  .profileTopContainer {
    text-align: center;
    margin: 3rem;
    padding: 2rem;
  }

  .noWishlist {
    text-align: center;

    .wishIcon {
      @include bigIcon(url("/Assets/Icons/icon_binoculars.png"));
      margin-bottom: 3rem;
    }

    @include styleProject;
  }
}
