main {
  .profileTopContainer {
    text-align: center;
  }

  .noWishlist {
    text-align: center;

    .wishIcon {
      @include bigIcon(url("/Assets/Icons/icon_binoculars.png"));
      margin-bottom: 3rem;
    }

    @include styleProject;
  }

  

  .donationInputAndSubmit {
    @include flexCenter(column);

    @include desktopsOnly {
       @include flexCenter(row);
    }

    .donationInput {
      @include flexCenter(column);
    }
  }
}
