.wishIcon {
    @include wishIcon(url("/Assets/Icons/icon_binoculars.png"));
}

main {
    @include styleProject;

    .wishListSection {
        @include flexCenter(column);
        margin-top: 1rem;
    }

    .projectForms {
        
        @include flexCenter(row);
        
        .donateForm {
            @include flexCenter(column);
            margin: 2rem;
        }
        .wishlistForm {
            @include flexCenter(column);
            margin: 2rem;
        }
    }

}