main {
  .profileTopContainer {
    text-align: center;
  }

  .noWishlist {
      margin: 3rem;
    text-align: center;

    .wishIcon {
      @include bigIcon(url("/Assets/Icons/icon_binoculars.png"));
    }
    
    @include styleProject;

}
}