body {
  .navigationBar {
    padding: 2rem;
    width: 100%;
    height: 10vh;
    background-color: #787878;

    .backLink {
      @include backArrowIcon(url("/Assets/Icons/icon_backArrow.png"));
    }

    @media screen and(min-width: 600px) {
      height: 15vh;
    }
  }
}

main {
  h1 {
    font-size: $fs-title;
  }

  .buttonMargin {
    margin-top: 5rem;
  }
}
