@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//For use with responsive desktop displays
@mixin desktopsOnly {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

