footer {
  .footerContainer {
    @include flexCenter(row);
    width: 100vw;
    height: 40vh;
    background-color: $primary;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: $black;
    }

    .leftSide {
      @include flexCenter(column);
      width: 50%;

      .socialMediaLinks {
        @include flexCenter(row);
        list-style: none;
        width: 45%;
        margin: auto;

        .facebook {
          @include socialMediaIcon(url("/Assets/Icons/icon_facebook.png"));
        }
        .instagram {
          @include socialMediaIcon(url("/Assets/Icons/icon_instagram.png"));
        }
        .twitter {
          @include socialMediaIcon(url("/Assets/Icons/icon_twitter.png"));
        }
      }
    }

    .rightSide {
      width: 50%;

      .contacts {
        width: 45%;
        list-style: none;
        margin: auto;

        li {
          margin: 1rem;
        }
      }
      p {
        width: 100vw;
        text-align: center;
      }
    }
  }
  @media screen and(min-width: 600px) {
    height: 30rem;
  }
}