footer {
  width: 100vw;
  height: 20vh;
  background-color: $primary;
  margin-top: 5rem;
  a {
    text-decoration: none;
    color: $black;
  }
  .container {
    @include flexCenter(row);
    flex-wrap: wrap;

    .socialMediaLinks {
      @include flexCenter(row);
      list-style: none;
      width: 45%;
      margin: auto;

      .facebook {
        @include socialMediaIcon(url("/Assets/FBLogo.png"));
      }
      .instagram {
        @include socialMediaIcon(url("/Assets/InstaLogo.png"));
      }
      .twitter {
        @include socialMediaIcon(url("/Assets/twitterLogo.png"));
      }
    }

    .contacts {
      width: 45%;
      list-style: none;
      margin: auto;

      li {
        margin: 1rem;
      }
    }
    p {
      width: 100vw;
      text-align: center;
      margin-top: 3rem;
    }
  }
  @media screen and(min-width: 600px) {
    height: 30rem;
  }
}
