.pageContainer {
    position: relative;
    min-height: 100vh;

    main {
        @include flexCenter(column);
        padding-bottom: 40vh;

        @include desktopsOnly {
            margin-top: 10vh;
        }

        @include desktopsOnly {
            padding-bottom: 0;
        }
    }
}