.simpleSmallButton{
  @include buttonBase;
  padding: 5px 8px;
  font-size: 8px;
  font-weight: $fw-bold;
 
  &:hover{
    background-color: #F79E34;
    color: white;
  }
}

.smallButton {
  @include buttonBase;
  padding: 10px 25px;
  font-size: 10px;

  @include buttonHover;

  a:visited,
  a:link,
  a:active, a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

.bigButton {
  @include buttonBase;
  padding: 15px 32px;
  font-size: 16px;

  @include buttonHover;
 
  a:visited,
  a:link,
  a:active, a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
