<div class="container">
  <div class="logo"></div>

  <ul class="socialMediaLinks">
    <li><div class="facebook"></div></li>
    <li><div class="instagram"></div></li>
    <li><div class="twitter"></div></li>
  </ul>

  <ul class="contacts">
    <li>Adress: Street123</li>
    <li>Email: info@ninetynine.org</li>
    <li>Hotline: +46701234567</li>
  </ul>

  <p>© 2021 Copyright Ninetynine.org</p>
</div>
