<div class="footerContainer">
  <div class="leftSide">
    <div class="logo"></div>
    <ul class="socialMediaLinks">
      <li>
        <a href="https://www.facebook.com/"><div class="facebook"></div></a>
      </li>
      <li>
        <a href="https://www.instagram.com/"><div class="instagram"></div></a>
      </li>
      <li>
        <a href="https://www.twitter.com/"><div class="twitter"></div></a>
      </li>
    </ul>
  </div>

  <div class="rightSide">
    <ul class="contacts">
      <li>Street123</li>
      <li>123 45</li>
      <li>Stockholm, Swedem</li>
      <li><a href="mailto: info@ninetynine.org">info@ninetynine.org</a></li>
      <li>+46701234567</li>
    </ul>
  </div>

  <p>© 2021 Copyright Ninetynine.org</p>
</div>
