<div id="herocarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/Assets/Images/hero_child.png" alt="A happy child">
        <div class="carousel-caption d-none d-md-block">
          <h1>Help us in our quest to eliminate hunger!</h1>
          <h4>The world's starvation has to end now! Join us in our battle against food shortage</h4>
        </div>
        <div class="carousel-caption d-block d-md-none">
          <a href="/projects" class="bigButton">DONATE!</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/Assets/Images/hero_donation.png" alt="A generous donation">
        <div class="carousel-caption d-none d-md-block">
          <h1>End poverty now!</h1>
          <h4>We are proud to represent several organizations that work hard to bring income to the poorest parts of the world</h4>
        </div>
        <div class="carousel-caption d-block d-md-none">
          <a href="/projects" class="bigButton">DONATE!</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/Assets/Images/hero_science.png" alt="Happy group of kids">
        <div class="carousel-caption d-none d-md-block">
          <h1>Science for future!</h1>
          <h4>Every day, new innovations helps us in our quest to make the world a better place. Please support any of our different science projects</h4>
        </div>
        <div class="carousel-caption d-block d-md-none">
          <a href="/projects" class="bigButton">DONATE!</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#herocarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#herocarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>