<div class="menu">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn">
    <div class="hamburger">
      <div class="segment"></div>
      <div class="segment"></div>
      <div class="segment"></div>
    </div>
  </label>
  <ul class="navbar">
    <% if(user==null){ %>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <% } else if(user.role==="Admin") { %>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/profile"><div class="profileIcon"></div> </a></li>
      <li><a href="/checkout"><div class="shoppingCart"></div> </a></li>
      <li><a href="/logout">Log out</a></li>
    <% } else { %>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/profile"><div class="profileIcon"></div> </a></li>
      <li><a href="/checkout"><div class="shoppingCart"></div> </a></li>
      <li><a href="/logout">Log out</a></li>
    <% } %>
  </ul>
</div>
