<div class="menu">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn">
    <div class="hamburger">
      <div class="segment"></div>
      <div class="segment"></div>
      <div class="segment"></div>
    </div>
  </label>
  <ul class="navbar">
    <li>
      <a href="/"> <div class="logo"></div> </a>
    </li>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/admin">Admin</a></li>
    <li>
      <a href="/profile"><div class="profileIcon"></div> </a>
    </li>
    <li>
      <a href="/checkout"><div class="shoppingCart"></div> </a>
    </li>
  </ul>
</div>
</div>
