<nav class="navbar">
  <ul>
    <li>
      <a href="/"> <div class="logo"></div> </a>
    </li>

    <li><a href="/">Home</a></li>

    <li><a href="/projects">Projects</a></li>

    <li><a href="/about">About</a></li>

<<<<<<< HEAD
    <li><a href="/admin">Admin</a></li>

=======
>>>>>>> 629f485c8aa3544cfd899c1db9744494f10eea61
    <li>
      <a href="/checkout"> <div class="shoppingCart"></div> </a>
    </li>
  </ul>
</nav>